<%= content_for :page_title do %>
    Accounts+
<% end %>
<p>Find me in app/views/accounts/index.html.erb</p>


    <form action="/accounts" method="POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            Create a Stripe Account
        </button>
    </form>
